/* Lägger till lite styling på contact sidan */

.card {
    display:flex;
    flex-direction: column;
    text-align:start;
    width: 20%;
    padding:5px;
    margin:10px;
    border-radius: 20px;
    
}

.card p {
    margin:0px;
    text-align: center;
    font-size: larger;
}

fieldset  {
    border:black 2px solid;
    background-color: hotpink;
    border-radius:10px;
}




@media (min-width: 1024px) { 

.card {
    background-color:#fcab31;
    width:80%;

}

}