#messages-display {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center; 
    align-items: flex-start;
    align-content: flex-start;
    min-height: 100dvh;
}

.post-it {
    background-color: #fcd7ff;
    width: calc(50% - 0.5rem);
    aspect-ratio: 1/1;

    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    transform: rotate(-1.5deg);
    font-size: 0.9rem;
    word-break: break-word;
    overflow: hidden;
    padding-bottom: 1.5rem;
    transform: rotate(-1.5deg);
    transform-origin: center;
}

/* Style the text paragraph */
.post-it p {
    order: 1;  /* Allow text to take remaining space */
    overflow: auto;  /* Allow text to scroll if needed */
    font-size: 0.85rem;
    text-align: center;
}

.post-it img {
    order: 2;
    max-width: 70%;  /* Limit GIF width */
    max-height: 40%;  /* Limit GIF height */
    object-fit: contain;  /* Keep aspect ratio */
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.post-it::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.15) 100%);
}

@keyframes pop-in {
    0% { 
        transform: scale(0) rotate(0deg); 
        opacity: 0;
    }
    70% { 
        transform: scale(1.1) rotate(-2deg);
    }
    100% { 
        transform: scale(1) rotate(-1.5deg); 
        opacity: 1; 
    }
}

.post-it.new-post {
    animation: pop-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.time-stamp {
    position: absolute;
    bottom: 0.5rem;
    left: 0.8rem;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
}

.like-btn {
    position: absolute;
    bottom: 8px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 2px 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.like-btn:active {
    transform: scale(1.3);
}

.like-btn span {
    font-weight: bold;
    margin-left: 0.2rem;
}

/* Breakpoint desktop */
@media (min-width: 1024px) {
    .post-it {
        width: 12rem;
        font-size: 1.1rem;
    }
}